{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
        <h1 class="my-5">{{ article.title }}</h1>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="">
                        <img class="img-fluid" {#src="{{ asset('upload/507863.jpg') }}" #}src="{{ asset('upload/' ~ article.photo) }}" >
                    </div>
                    <div>
                        <p>{{ article.content }}</p>   
                    </div>
                </div>

                <aside class="col-lg-3 col-md-12">
                    {% for articles in allArticles %}
                        <div class="">
                            <img class="img-fluid" src="{{ asset('upload/507863.jpg') }}"{# src="{{ asset('upload/' ~ article.photo) }}" #}>
                        </div>
                        <div class="bg-white">
                            <div>
                                <h4>{{ articles.title }}</h4>
                            </div>        
                            <div class="">
                                <p>{{ articles.introduction }}</p>
                            </div>
                        </div>      
                    {% endfor %}
                </aside>
            </div>     
{% endblock %}